################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1_ws2007FederationHttpBinding/Client/bin/Debug
/1_ws2007FederationHttpBinding/Client/obj/Debug
